<h2>found on</h2>
<ul>

{% if site.github_user %}
<li><a href="https://github.com/{{site.github_user}}/" title="Github">Github</a>
{% endif %}

{% if site.stackoverflow_user %}
<li><a href="http://stackoverflow.com/users/{{site.stackoverflow_user}}/" title="Stack Overflow">Stack Overflow</a></li>
{% endif %}

{% if site.linkedin_user %}
<li><a href="http://www.linkedin.com/in/{{site.linkedin_user}}" title="Linkedin">LinkedIn</a></li>
{% endif %}

{% if site.twitter_user %}
<li><a href="http://twitter.com/{{site.twitter_user}}" title="Twitter">Twitter</a></li>
{% endif %}

{% if site.googleplus_user %}
<li><a href="https://plus.google.com/{{site.googleplus_user}}?rel=author" title="Google Plus">Google+</a></li>
{% endif %}

{% if site.quora_user %}
<li><a href="http://www.quora.com/{{site.quora_user}}" title="Quora">Quora</a></li>
{% endif %}

</ul>

{% if site.email %}
<h2>contact</h2>
<ul>
<li>
<a href="mailto:{{ site.email }}">{{ site.email }}</a>
</li>
<li>
{% endif %}
